<!----------------------------------------------- 
Головна сторінка сайту з продажі свіжих продуктів
 ----------------------------------------------->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/stylesheet.css" />
		<link rel="icon" href="images/ico.jpg" />
	</head>
	<body>
		<div id="top"> 
			<h1><a id="a_" href="see">Живі продукти</a></h1>
			<div>
				<img id="_1_" src="images/title_1.jpg" alt="Фото фруктів" title="Відбірні, соковиті" />
				<img id="_2_" src="images/title_2.jpg" alt="Photo" title="title" />
				<img id="_3_" src="images/title_3.jpg" />
			</div>
		</div>
		<div class="cont">
			<div id="bar">
				<h2>{{bar.title}}</h2>
                {{#each bar.option}}
				<a href=""><div>{{opt}}</div></a>
				{{/each}}
			</div>
                 {{#each table}}
			     <table id="{{tabId}}"> <!-- Таблиця -->
                <thead>
					<tr>
						<th colspan="7"><a href="{{linkSelf}}">{{tabName}}</a></th>
					</tr>
				</thead>
				<tbody>
                    {{#each row}}
					<tr>
                        {{#if codeRef}}
                        <td><a href='{{href}}'>{{this.codeID}}</a></td>
                        {{else}}
						<td>{{this.codeID}}</td>
                        {{/if}}
						<td><img src='{{this.photo}}' /></td>
						<td>{{this.name}}</td>
                        {{#if sort}}
						<td>{{this.sort}}</td>
                        {{/if}}
						<td>{{this.harvest}}</td>
						<td>{{this.date}}</td>
						<td>{{this.cost}}</td>
					</tr>
                    {{/each}}
				</tbody>
			</table>
            {{/each}}
            {{#if par}}
                {{#each par}}
				    <p>{{p}}</p>
                {{/each}}
            {{/if}}
		</div>
	</body>
</html>
